body {
  margin: 0;
  background: #0d1117;
  color: #c9d1d9;
  font-family: "Segoe UI", sans-serif;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  color: #58a6ff;
}

.tag {
  color: #8b949e;
}

/* dropdown + button */
select {
  background: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
  padding: 8px;
  border-radius: 6px;
}

button {
  background: #238636;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
}

button:hover {
  background: #2ea043;
}

/* layout */
div[style*="display: flex"] {
  gap: 20px;
}

/* editor box */
div[style*="width: 50%"] {
  background: #0d1117;
}

/* output */
div[style*="outputBox"] {
  background: #010409 !important;
  border: 1px solid #30363d;
  border-radius: 10px;
}