/* 🌙 FULL VS CODE STYLE */

body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: #d4d4d4;
  font-family: "Segoe UI", sans-serif;
}

/* Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar (left) */
.sidebar {
  width: 60px;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.sidebar div {
  margin: 15px 0;
  cursor: pointer;
}

/* Main area */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #2d2d2d;
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 16px;
}

.tag {
  color: #4fc1ff;
  font-size: 12px;
}

/* Editor */
.editor {
  flex: 1;
  background: #1e1e1e;
  color: #9cdcfe;
  border: none;
  outline: none;
  padding: 15px;
  font-family: "Consolas", monospace;
  font-size: 14px;
}

/* Button */
.run-btn {
  background: #0e639c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.run-btn:hover {
  background: #1177bb;
}

/* Output */
.output {
  background: #1e1e1e;
  border-top: 1px solid #333;
  padding: 10px;
  color: #dcdcaa;
  min-height: 120px;
  font-family: "Consolas", monospace;
}